@import "../../scss/variable";
@import "../../scss/mixins";

.paddingleft {
  padding-left: 6rem;
  margin-left: 5rem;
}

.passwordreset-item {
  background-color: $light-gray;
  border-radius: 7px;
  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.8rem 2.4rem;
    & > img {
      height: 6.2rem;
      width: 6.2rem;
      border-radius: 50%;
      // margin-right: 8rem;
    }

    & > div {
      & > p {
        color: rgba(128, 128, 128, 0.625);
        color: black;
        font-weight: 400;
        font-size: 1.6rem;
      }
    }
    & > div {
      & > button {
        cursor: pointer;
        background-color: $primary;
        border: 1px solid $primary;
        color: white;
        padding: 0.7rem 3rem;
        border-radius: 1.2rem;
        transition: 0.3s ease-in-out;
        &:hover {
          background-color: $light-gray;
          color: $primary;
        }
      }
    }
  }
}

.password-list {
  @include respond(tab-port) {
    width: 100%;
    overflow-x: hidden;
    overflow-x: scroll;
  }

  &-container {
    @include respond(tab-port) {
      width: 1100px;
    }
  }
}

.marginleft-2 {
  margin-left: 3rem;
}

.searchbar-component {
  margin: 2rem 0rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  &-input {
    display: flex;
    align-items: center;
    & > input {
      width: 28rem;
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
      padding-left: 3rem;
      font-size: 1.5rem;
      border-radius: 2rem;
      border: 1px solid gray;
      &:focus {
        outline: none;
      }
    }
    & > * {
      &:first-child {
        font-size: 1.8rem;
        margin-right: -2.5rem;
        z-index: 10000;
        cursor: pointer;
      }
    }
  }
}

