@import "../../../scss/variable";
@import "../../../scss/mixins";

.sidebar {
  // background-color: $sidebar-background;
  background-color: $primary;
  position: relative;
  height: 100vh;
  overflow-y: hidden;
  overflow-y: scroll;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    cursor: pointer;
  }
  &::-webkit-scrollbar-thumb {
    background: #fec34c;
    cursor: grab;
  }
  &::-webkit-scrollbar-track {
    background-color: $primary;
    padding: 0rem 3px;
  }
  @include respond(tab-port) {
    position: absolute;
    height: 100vh;
    z-index: 100000000;
  }
  &-container {
    &-name {
      padding: 1.7rem 1rem;
      color: white;
      &-icon {
        font-size: 2rem;
        margin-right: 1rem;
        cursor: pointer;
        color: white;
      }
      &-user {
        font-weight: 500;
        font-size: 1.9rem;
      }
    }
    &-menu {
      &-list {
        &-link {
          margin: 5px 0px;
          padding-top: 2.8rem;
          padding-bottom: 2.8rem;
          padding-left: 1rem;
          &-icon {
            color: white;
            margin-right: 2.3rem;
            font-size: 2.8rem;
          }
          &-name {
            color: rgba(255, 255, 255, 0.603);
            font-size: 1.5rem;
            font-weight: 300;
            &::before {
              color: $primary;
            }
          }
        }
      }
    }
  }
}
.logout-btn-sidebar {
  
  margin-left: 1.5rem;
  background-color: $primary;
  color: #fa5757;
  border: none;
  width: 85%;
  padding: 0.8rem 0rem;
  border: 0.78125px solid #d9d9d9;
  border-radius: 5.46875px;
  font-size: 1.2rem;
  cursor: pointer;
  position: absolute;
  transition: 0.3s ease-in-out;
}

.logout-btn-sidebar:hover {
  background-color: #fa5757;
  color: white;
}
#active {
  background: #0e190f;
  & > * {
    color: #feebca;
  }
}

.profile-for-sidebar {
  display: flex;
  align-items: center;
  & > img {
    height: 4rem;
    width: 4rem;

    margin-right: 2rem;
    margin-left: 1rem;
    border-radius: 50%;
  }
  & > h6 {
    font-size: 1.8rem;
    font-weight: 400;
  }
}
